<!DOCTYPE html>
<html>

<head>
    <title>Blog One</title>
    <style>
        .maindiv {
            margin: 0;
            padding: 0;
            min-height: 80vh;
            margin-top: 2rem;
            font-family: 'Montserrat', sans-serif !important;
        }
        .blog_details img{
          width: 60%;
          display: block;
          margin: 0 auto 2rem;
        }
        .blog_details h2{
          margin-top: 3rem;
        }
    </style>
</head>

<body>
    <div class="maindiv">
    <div class="blog_details" data-aos="fade-up" >
      <h2 data-aos="fade-up" >Diwali Celebration</h2>
      <img src="../../InsertImages/blog3.webp" alt="Blog One" data-aos="fade-up" >

      <p data-aos="fade-up" >
        At our office, we believe in blending tradition with creativity. As a precursor to Diwali celebration, we came together to decorate beautiful diyas, adding a touch of warmth and radiance to our workspace. As we intricately painted and adorned these traditional lamps, it reminded us of the significance of light and the joy it brings into our lives. 🪔✨
      </p>
      <p data-aos="fade-up" >
        On the actual Diwali Celebration day, the office was adorned with vibrant rangoli, filling the air with festive colors. Colleagues exchanged sweets and heartfelt Diwali wishes, fostering a sense of unity. The sound of laughter and joy echoed through the halls as employees share stories. Traditional diyas illuminate the office, creating a warm and inviting atmosphere. A special photo session was organized to cherish the moments forever. 
      </p>

      <h2>English Communication Course at DGFutureTech</h2>
      <img src="../../InsertImages/blog1image.webp" alt="Blog image" data-aos="fade-up"  >

      <p data-aos="fade-up" >
        The English Communication Course at DGFutureTech wrapped up today! 📓 Starting from September 21st to November 7th, 2023, the course was a journey of communication enhancement. Course participants had a wonderful "back-to-school" vibe with lively lectures, Q&A sessions, and brain-teasing homework assignments.
      </p>
      <p data-aos="fade-up" >
        Today the course concluded and the students decided to surprise their trainer on the last day with a lively skit that showcased the "before" and "after" scenarios, making everyone laugh and driving home the importance of effective communication skills.
      </p>
    </div>
    </div>
</body>

</html>